.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #16697a;
  border-radius: 5px;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

h1,
ul,
span,
div {
  font-family: "Varela Round", sans-serif;
  position: relative;
}

h1 {
  color: #16697a;
  text-align: left;
  margin: auto 0;
  padding-top: 40px;
}

span {
  text-transform: capitalize;
  color: #16697a;
  text-align: left;
  margin: auto 0;
  font-size: 20px;
}

ul {
  list-style: none;
}

li {
  display: block;
  margin: auto 0;
}

