.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #fbf2d5;
  border-radius: 5px;
  background: radial-gradient(circle at 10% 20%, rgb(87, 108, 117) 0%, rgb(37, 50, 55) 100.2%);
}

h1,
ul,
span,
div,a{
  font-family: 'Shadows Into Light', cursive;
  position: relative;
}

h1 {
  color: #fbf2d5;
  text-align: left;
  margin: auto 0;
  padding-top: 40px;
  font-size: 45px;
}

span {
  text-transform: capitalize;
  color:#fbf2d5;
  text-align: left;
  margin: auto 0;
  font-size: 20px;
}

ul {color:#fbf2d5;
  list-style: none;
  font-size: 25px;
}

li {
  display: block;
  margin: auto 0;
}
a{color:#fbf2d5;
font-size: 12px;}
