div.forecast-temp {
  color: #fbf2d5;
  text-align: left;
  margin: auto 0;
  font-size: 10px;
}
span.temp-max{
  font-size:20px;
  font-weight: 800px;
}
span.temp-min{
  font-size:20px;
  font-weight:100px;
}

div.forecast-day {
  color: #fbf2d5;
  text-align: left;
  margin: auto 0;
  
}
div.col-1 {
  margin: auto 0;
  text-align: center;
}

.row {
  font-family: 'Shadows Into Light', cursive;
}