p {
  color: #fbf2d5;
  text-align: left;
  margin: auto 0;
  padding-top: 50px;
  bottom: 20px;
}

h3 {
  color: #fbf2d5;
  text-align: left;
  margin: auto 0;
  top: 40px;
  bottom: 20px;
}
div.col-1 {
  margin: auto 0;
  padding: 20px, 10px;
  text-align: center;
}

.row {
  font-family: 'Shadows Into Light', cursive;
}