span {
  text-transform: capitalize;
  color: #fbf2d5;
  text-align: left;
  margin: auto 0;
  font-size: 30px;
   font-family: 'Shadows Into Light', cursive;
}

li {
  display: block;
  margin: auto 0;
}
