h2 {
   font-family: 'Shadows Into Light', cursive;
  position: relative;
  color: #7fa99b;
  text-align: left;
  margin: auto 0;
  top: 10px;
  bottom: 20px;
  font-size: 25px;
}
hr {
  position: relative;
  top: 40px;
  bottom: 10px;
}
